<p id="notice"><%= notice %></p>

<h1>Potentialbuyers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>House</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @potentialbuyers.each do |potentialbuyer| %>
      <tr>
        <td><%= potentialbuyer.user %></td>
        <td><%= potentialbuyer.house %></td>
        <td><%= link_to 'Show', potentialbuyer %></td>
        <td><%= link_to 'Edit', edit_potentialbuyer_path(potentialbuyer) %></td>
        <td><%= link_to 'Destroy', potentialbuyer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Potentialbuyer', new_potentialbuyer_path %>
