<p id="notice"><%= notice %></p>

<h1>Inquirydetails</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Subject</th>
      <th>House</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inquirydetails.each do |inquirydetail| %>
      <tr>
        <td><%= inquirydetail.content %></td>
        <td><%= inquirydetail.subject %></td>
        <td><%= inquirydetail.house_id %></td>
        <td><%= link_to 'Show', inquirydetail %></td>
        <% if current_user.role == 'househunter' or current_user.role ==  "admin" %>
          <td><%= link_to 'Edit', edit_inquirydetail_path(inquirydetail) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>